<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">  
<configuration>
    <typeAliases>
        <typeAlias type="admin.bean.User" alias="User"/>
        <typeAlias type="admin.bean.Admin" alias="Admin"/>
    </typeAliases>
    <!-- <property name="pageSqlId" value=".*Page$" /> -->
    <plugins>  
        <plugin interceptor="web.Interceptor.PageInterceptor"></plugin>  
    </plugins> 
</configuration>